.SideNav{
    position:  fixed ;
    background-color:#1C1B21 ;
    color: #d9d9d9;
    width: 250px;
    height: 100vh;
    padding: 10px;
}

.flex{
    padding: 0;
    display: flex;
    width: 100%;
    gap: 10px;
    
    align-items: center;
}

div.logo.flex{
    gap: 2px;
}

h5,h6{
    margin: 0;
}
h6{
    text-align: start;
    color: #686868;
}
.dark{
    color: #686868;
}

.heading{
    margin: 5px;
}

.option{
    height: 40px;
}

.optionList :hover , .Docs :hover , .AcessControl :hover{
    background-color:#373636;
    border-radius: 10px;

    color: #ffffff;
}

.option img{
    height: 20px;
}

.user{
    position: fixed;
    bottom: 5px;
    left: 10px;
    justify-content: space-between;
    width: 250px;

}

.name h5{
    font-size: 10px;
    text-align: start;
    
}